* {
  padding: 0;
  margin: 0;
  font-size: 0.26rem;
  outline: none;
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #e1e1e1;
    color: #826650;
    padding: 0 0.3rem;
}
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding-left: 0.2rem;
    font-size: 0.32rem;
}